<?xml version="1.0" encoding="utf-8"?>
<Config>
	<OrderId>0</OrderId>
	<OrderItemId>0</OrderItemId>

	<customerName>
		<value>Moshe Gross</value>
		<value>Rebecca Levi</value>
		<value>Jossef Cohen</value>
		<value>Sarah Mendel</value>
		<value>Rachel Greenfeld</value>
		<value>Haim Goldstein</value>
		<value>Esther Buxboim</value>
		<value>Arieh Zilbernagel</value>
		<value>Yechezkel Burstein</value>
		<value>Tzipora Chazan</value>
	</customerName>
	<email>
		<value>MosheGross@gmail.com</value>
		<value>RebeccaLevi@gmail.com</value>
		<value>JossefCohen@gmail.com</value>
		<value>SarahMendel@gmail.com</value>
		<value>RachelGreenfeld@gmail.com</value>
		<value>HaimGoldstein@gmail.com</value>
		<value>EstherBuxboim@gmail.com</value>
		<value>AriehZilbernagel@gmail.com</value>
		<value>YechezkelBurstein@gmail.com</value> 
		<value>TziporaChazan@gmail.com</value>
	</email>
	<adress>
		<value>Kazan 10 Ra'anana</value>
		<value>Mordechai Buxboim 12 Jerusalem</value>
		<value>Rabbi Akiva 34 Bnei-Brak</value>
		<value>Kakal 19 Tel-Aviv</value>
		<value>Ha'Melachim 65 Modi'in</value>
		<value>Shwarts 192 Kiriat-Malachi</value>
		<value>Ha'Shunit 1 Ashdod</value>
		<value>Sokolov 27 Holon</value>
		<value>Etrog 70 Herzelia</value>
		<value>Hakablan 18 Jerusalem</value>
	</adress>
	<orderDate>
		3/12/2008 7:00:00 AM
	</orderDate>
	<ship>
		3/1/2009 12:00:00 AM
	</ship>
	<delivery>
		4/1/2009 7:00:00 AM
	</delivery>
</Config>